doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Node.js versions, how do they work?

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    .logo {
      background-image: url('images/phish-logo.jpg')
    }
    .page {
      background-image: url('images/page.gif')
    }
    .fishman {
      background-image: url('images/fishman.gif')
    }
    .gordo {
      background-image: url('images/gordo.gif')
    }
    .trey {
      background-image: url('images/trey.gif')
    }
    
    .the-band {
      background-image: url('images/the-band.gif')
    }
    
    .ck5 {
      background-image: url('images/ck5.gif')
    }
    
    .band {
      background-image: url('images/band.jpg')
    }

    .jam {
      background-image: url('images/jam.jpg')
    }
    
    .white-album {
      background-image: url('images/white-album.jpg')
    }


  body

    article

      section
        h2 The Phish from Vermont:
        h3 Don't Yuck my Yum
        h4 With your host Myles Borins
        h4
          a(href='https://twitter.com/MylesBorins') @MylesBorins
        p  Manhattan JS January 2017
        
      section(data-bespoke-backdrop='hello')
        h1 Sup'
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px' height='200px')
      
      section
        h3 I currently work at a small disruptive startup called IBM
        h4 contributing to Node.js
        
        img(src='images/ibm.jpg' alt='Eye Bee M by Paul Rand')
        
        h5 The opinions expressed in this talk are solely my own

      section(data-bespoke-backdrop='logo')
        h1 The Band

      section(data-bespoke-backdrop='page')
        h1 Page McConnell
      
      Section(data-bespoke-backdrop='fishman')
        h1 Jon Fishman
      
      section(data-bespoke-backdrop='gordo')
        h1 Mike Gordon
      
      section(data-bespoke-backdrop='trey')
        h1 Trey Anastasio
      
      section(data-bespoke-backdrop='the-band')
        h1 This is Phish
      
      section(data-bespoke-backdrop='ck5')
        h1 The fifth member of the band CK5
      
      section
        h1 What is Phish?

      section(data-bespoke-backdrop='band')
        h1 Phish, is a Band
      
      section(data-bespoke-backdrop='jam')
        h1 Phish, is a Jam Band

      //- section
        //- h1 The Music

      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aNHIFM0Y87c?start=51" frameborder="0" allowfullscreen></iframe>

      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vWyq6hOyzec" frameborder="0" allowfullscreen></iframe>
      
      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BYdVS9wZOQs?start=31" frameborder="0" allowfullscreen></iframe>
      
      //- section
        //- <iframe width="560" height="315" src="https://www.youtube.com/embed/IPSDP6S-h50" frameborder="0" allowfullscreen></iframe>
      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jStpzbdAhz4" frameborder="0" allowfullscreen></iframe>
      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hvYICXjmik8?start=118" frameborder="0" allowfullscreen></iframe>
      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sXKkxg1GOTw?start=7" frameborder="0" allowfullscreen></iframe>
      section
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1pFRSUrjDDQ?start=20" frameborder="0" allowfullscreen></iframe>
      
      section
        img(src="images/snowflake.png" alt="phish is like a snowflake" width='50%')

      section
        h1 Halloween Costume Albums
      
      section(data-bespoke-backdrop='white-album')
        h3 1994: The White Album
      
      section
        img(src="images/loaded.jpg" height="100%" alt="Phishbill 1998 Loaded")
      
      section
        img(src="images/exhile.jpg" height="100%" alt="Phishbill 2009 Exhile on Mainstreet")
      
      section
       img(src="images/wingsuit.png" height="100%" alt="Phishbill 2013 Wing Suit")
      
      section
        img(src="images/haunted-house.jpg" height="100%" alt="Phishbill 2014 Haunted House")
        
      section
        img(src="images/ziggy.jpg" height="100%" alt="Phishbill 2016 Ziggy Stardust")

      section
        h1 A Quick pHishtory

      section
        h1 The Scene

      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h3 Myles Borins
        h4 @MylesBorins

    script(src='build/build.js')
